html, body{
width: 100%;
height: 100%;
}


*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family:"Pokemon GB";
    src:url("../fonts/Pokemon_GB.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body{
    background-image:url(../images/important/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
height:100%;
width:100%;
display:flex;
flex-direction: row;
}


.section-gauche{
width:25%;
height:100%;
display:flex;
flex-direction: column;
}
.pokedex{
position: relative;
border-radius: 10px;
border-color: black;
border:solid;
background-color: white;
}

.section-milieu{
align-items:center;
width:50%;
height:100%;
display:flex;
flex-direction: column;
}


.section-droite{
align-items: center;
justify-content: center;
width:25%;
height:100%;
}
.store{
display:flex;
flex-direction: row;
width: 100%;
}
.pokemon_store{
border:solid;
display:flex;
width:100%;
background-color:white;
}
.pokecoin {
width: 25%;
height: 150px;
border-radius: 10px;
border:solid;
background-color:white;
}
.pokemon_center{
border-radius: 10px;
border:solid;
background-color:white;
width: 50%;
height: 150px;
}
.banner{
width:600px;
height:315px;
}

.img_ball{
width : 500px;
height : 500px;
}


.displayGold{
font-family:"Pokemon GB";
font-weight: bold;
font-size:16px;
color:white;
}
#pokedollarcount{
font-size:20px;
}


.buttons{
margin-right: 150px;
display:flex;
flex-direction: row;
border:transparent;
background-color:transparent;
width: 100px;
height: 45px;
border:transparent;
background-color:transparent;
width: 100px;
height: 45px;
}

h2{
font-size:20px;
font-family:"Pokemon GB";
font-weight: bold;
text-align: center;
color:black;
border:solid;
border-color:black;
background-color:white;
}
h1{
font-size:50px;
font-family:"Pokemon GB";
font-weight: bold;
text-align: center;
color:black;
border:solid;
border-color:black;
background-color:red;

}
.bulbasaur{
display:flex;
flex-direction: row;
font-family:"Pokemon GB";
color:black;
font-weight:bold;
border-radius: 10px;
border:solid;
border-color: #89C893;
border-width: thick;
background-image:url(../images/backgrounds/leaf.png);
background-repeat: no-repeat;
background-size: cover;
}
.img_bulbasaur{
font-weight: bold;
width: 100px;
height: 100%;
}
.bulbasaur_stats{
font-size:14px;
width:100%;
height:100%;
display:flex;
flex-direction: column;
}
.squirtle{
display:flex;
flex-direction: row;
font-family:"Pokemon GB";
color:black;
font-weight:bold;
border-radius: 10px;
border:solid;
border-color:#297383;
border-width: thick;
background-image:url(../images/backgrounds/water.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.img_squirtle{
font-weight: bold;
width: 100px;
height: 100%;
}
.squirtle_stats{
font-size:14px;
width:100%;
height:100%;
display:flex;
flex-direction: column;
}

.charmander{
display:flex;
flex-direction: row;
font-family:"Pokemon GB";
color:black;
font-weight:bold;
border-radius: 10px;
border:solid;
border-color:#de5138;
border-width: thick;
background-image:url(../images/backgrounds/fire.png);
background-repeat: no-repeat;
background-size: cover;
}
.img_charmander{
font-weight: bold;
width: 100px;
height: 100%;
}
.charmander_stats{
font-size:14px;
width:100%;
height:100%;
display:flex;
flex-direction: column;
}

.pikachu{
display:flex;
flex-direction: row;
font-family:"Pokemon GB";
color:black;
font-weight:bold;
border-radius: 10px;
border:solid;
border-color:#e4a543;
border-width: thick;
background-image:url(../images/backgrounds/electric.png);
background-repeat: no-repeat;
background-size: cover;
}
.img_pikachu{
font-weight: bold;
width: 100px;
height: 100%;
}
.pikachu_stats{
font-size:14px;
width:100%;
height:100%;
display:flex;
flex-direction: column;
}